<div class="splash">
	<div data-slideshow>
		<div class="slide" data-ng-repeat="item in splash.config.slideshow">
			<div class="bg-image anim-grow" data-ng-style="{'background-image':'url({{item.img}})'}" data-imageonload="fader"></div>
		</div>
	</div>
	
	<div class="center-outer">
		<div class="center-middle">
			<div class="center-inner">
				<h1 data-ng-bind-html="'splash.headline' | translate"></h1>
				<h2>{{'splash.subhead'| translate}}</h2>
			</div>
		</div>
	</div>

	<a 
		href="javascript:void(0)" 
		class="arrow-holder" 
		data-ng-click="splash.clickArrow()"
		data-analytics-on="click"
		data-analytics-event="Click"
		data-analytics-category="Button"
		data-analytics-label="arrow">
		<img src="img/arrow.svg" class="anim-bounce">
	</a>
</div>