<div class="splash">
	<div data-slideshow>
		<div class="slide" data-ng-repeat="item in splash.config.slideshow">
			<div class="bg-image anim-grow" data-ng-style="{'background-image':'url({{item.img}})'}" data-imageonload="fader"></div>
		</div>
	</div>

	<div class="cover"></div>

	<div class="item top">
		<div>
			<h1 data-ng-bind-html="'splash.headline'| translate"></h1>
			<h2>{{'splash.subhead'| translate}}</h2>
		</div>
	</div>

	<a href="javascript:void(0)" class="arrow-holder" data-ng-click="splash.clickArrow()">
		<div class="arrow-img anim-bounce"></div>
	</a>
</div>