<div class="splash" data-slideshow >
	<div class="slide">
		<div class="bg-image anim-grow" style="background-image:url(img/test/01.jpg)"></div>
	</div>
	<div class="slide">
		<div class="bg-image anim-grow" style="background-image:url(img/test/02.jpg)"></div>
	</div>
	<div class="slide">
		<div class="bg-image anim-grow" style="background-image:url(img/test/03.jpg)"></div>
	</div>
	
	<div class="cover"></div>
	
	<!--<div class="slide bg-image" style="background-image:url(img/test/05.jpg)"></div>
	<div class="slide bg-image" style="background-image:url(img/test/06.jpg)"></div>
	<div class="slide bg-image" style="background-image:url(img/test/07.jpg)"></div>
	<div class="slide bg-image" style="background-image:url(img/test/08.jpg)"></div>-->
	<div class="item top">
		<div>
			<h1>MARIN <span>PETKOV</span></h1>
			<h2>Full Stack Web Developer</h2>
		</div>
		
	</div>
	
	<a href="javascript:void(0)" class="arrow-holder" data-ng-click="splash.scroll()">
		<div class="arrow-img anim-bounce"></div>
	</a>
</div>