.fallback .logo
{
	width: 120px;
	height: 100px;
    margin-bottom: 15px;
}

.browser-size
{
	display: none;
}

@media (max-height: 300px) 
{ 
	.browser-size
	{
		display: table;
	}
}

.old-ie .fallback
{
	padding-top: 80px;
}