.header
{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
}

.header .logo
{
	position: absolute;
	left: 15px;
	top: 15px;
}

.header .logo:hover
{
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
}

.header .nav
{
	position: absolute;
	right: 20px;
    top: 20px;
	width: 30px;
	cursor: pointer;
}

.header .nav .bar
{
	height: 3px;
    background: white;
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
}

.header .nav:hover
{
	top: 16px;
}

.header .nav:hover .bar
{
	margin-bottom: 8px;
}

@media (max-width: 320px) 
{  
	.header .nav
	{
		left: 280px;
		top: 10px;
	}

	.header .logo
	{
		left: 10px;
		top: 10px;
	}
}