.header
{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 101;
	width: 100%;
}

.header .logo
{
	position: absolute;
	left: 15px;
	top: 15px;
}

.desktop .header .logo:hover
{
	transform: rotate(45deg); 
}


@media (max-width: 650px) 
{
	.header .logo
	{
		transform: scale(0.6,0.6);
		left: -2px;
		top: -2px;
	}

	.desktop .header .logo:hover
	{
		transform: rotate(45deg) scale(0.6,0.6); 
	}
}