.header
{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 101;
	width: 100%;
}

.header .logo
{
	position: absolute;
	left: 15px;
	top: 15px;
}

.desktop .header .logo:hover
{
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
}





@media (max-width: 650px) 
{
	.header .logo
	{
		-ms-transform: scale(0.6,0.6); /* IE 9 */
		-webkit-transform: scale(0.6,0.6); /* Safari */
		transform: scale(0.6,0.6);
		left: -2px;
		top: -2px;
	}

	.desktop .header .logo:hover
	{
		-webkit-transform: rotate(45deg) scale(0.6,0.6); 
		-moz-transform: rotate(45deg) scale(0.6,0.6); 
		-o-transform: rotate(45deg) scale(0.6,0.6);
		-ms-transform: rotate(45deg) scale(0.6,0.6); 
	}
	
	/*.header .nav
	{
		right: 10px;
		top: 10px;
		width: 25px;
	}

	.header .nav .bar
	{
		height: 2px;
	}*/
}

@media (max-width: 320px) 
{  
	/*.header .nav
	{
		left: 286px;
	}*/

}