.menu .cover
{
	opacity: 0.9;
	background-color: #a4c959;
}

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.4em;
	
}

.menu ul
{
	list-style: none;
	display: inline-block;
	padding: 0;
}

.menu ul li
{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.menu .top p
{
	font-size: 1em;
}


/*
use this animation for menu
http://alexgilev.com/portfolio

*/

.menu h2
{
	font-size: 1.2em;
}



button 
{
	border: none;
	background: none;
	outline: none;
}


.menu-button
{
	padding: 6px 10px 12px 10px;
	position: absolute;
	right: 10px;
	top: 10px;

}

.menu-button > span
{
	display: inline-block;
	width: 35px;
	position: relative;
}



.menu-button .bar
{
	height: 3px;
	background: #FFFFFF;
	transition: 0.3s;
	width: 100%;
	position: absolute;
	left: 0;
	content: '';
	-webkit-transform-origin: 2px center;
	transform-origin: 2px center;
}


.menu-button .bar.bottom
{
	top: 8px;
}

.menu-button .bar.top
{
	top: -8px;
}

.menu-button:hover .bar.bottom
{
	top: 12px;
}

.menu-button:hover .bar.top
{
	top: -12px;
}


.menu-button.close 
{
	-webkit-transform: scale3d(0.8, 0.8, 0.8);
	transform: scale3d(0.8, 0.8, 0.8);
}

.menu-button.close:hover
{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.menu-button.x.close .bar.middle 
{
	opacity: 0;
}

.menu-button.x.close .bar.top, .menu-button.x.close .bar.bottom
{
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 0;
}

.menu-button.x.close .bar.top
{
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button.x.close .bar.bottom
{
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}





/*
.menu .item
{
	-webkit-animation: animMenu 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animMenu 1s cubic-bezier(0.7,0,0.3,1) both;
}


@-webkit-keyframes animMenu
{
	from 
	{ 
		opacity: 0; 
		-webkit-transform: 
			translate3d(0,800px,0); 
	}
}

@keyframes animMenu
{
	from 
	{ 
		opacity: 0; 
		-webkit-transform: translate3d(0,800px,0); 
		transform: translate3d(0,800px,0); 
	}
}
*/

.menu.hide 
{
	-webkit-animation: animHideMenu 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideMenu 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animHideMenu {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animHideMenu {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}


.menu.show 
{
	-webkit-animation: animShowMenu 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animShowMenu 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animShowMenu {
	from { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animShowMenu {
	from { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

