.menu
{
	top: -150%;
	z-index: 100;
	font-size: 1.4em;
	transition: all 0.6s cubic-bezier(0.7,0,0.3,1);
	background-color: rgba(0, 0, 0, 0.9);
}

.menu ul
{
	list-style: none;
	display: inline-block;
	padding: 0;
}

.menu ul li
{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.menu p
{
	font-size: 1em;
}

.menu h2
{
	font-size: 1.24em;
	margin-top: -0.4em;
	margin-bottom: 0.4em;
}

.menu.show 
{
	top: 0;
}

@media (max-width: 600px), (max-height: 400px) 
{
	.menu
	{
		font-size: 0.8em;	
	}
}