.preloader
{
	transition: all 0.6s cubic-bezier(0.7,0,0.3,1);
}

.preloader .logo
{
	width: 120px;
	height: 100px;
    margin-bottom: 15px;
}

.preloader.loaded 
{
	top: -150%;
}

.loader > div 
{
	width: 18px;
	height: 18px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 
{
	animation-delay: -0.32s;
}

.loader .bounce2 
{
	animation-delay: -0.16s;
}

@keyframes sk-bouncedelay 
{
	0%, 80%, 100% 
	{ 
		transform: scale(0);
	} 
	40% 
	{ 
		transform: scale(1.0);
	}
}