.anim-grow
{
	transition: all 5s ease-in-out;
    transform: scale(1);
}


.anim-fade
{
  transition: opacity 1s ease-in-out;
}

.anim-hide
{
  opacity:0;
}

.current .anim-show .anim-grow
{
    transform: scale(1.25);
}


.slideshow .fp-slidesContainer, .slideshow .fp-slide
{
	width: 100% !important;
}

.slideshow .fp-slide
{
	position: absolute;
}

.slideshow
{
	height: 100%;
}