.splash
{
	color: #FFFFFF;
	background: #FFFFFF;
	height: 100%;
	text-shadow: 2px 2px #000000;
}

.splash .bg-image
{
	background: no-repeat center;
	background-size: cover;
	background-attachment: inherit;
}


.section
{
	text-align: center;
	min-height: 320px;
}


.splash .item
{
	max-width: none;
	font-size: 2.8em;
}

.splash h1
{
	margin-bottom: 0.2em;
	border: 2px solid white;
	display: inline-block;
	padding: 0.25em 0.3em;
	line-height: 0.9em;
}

h1 span
{
	color: #a4c959;
}

.splash h2
{
	font-size: .8em;
}

.splash .arrow-holder {
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -22px;
	opacity: 0.9;
	z-index: 10;
}



@media (max-width: 1000px), (max-height: 450px)
{
	.splash
	{
		font-size: 0.6em;
	}
}

@media (max-width: 650px) 
{
	.splash
	{
		font-size: 0.4em;
		text-shadow: 1px 1px #000000;
	}
}

@media (max-width: 400px) 
{  
	.splash h1
	{
		font-size: 1.8em;
	}

	#fp-nav.right 
	{
		right: 5px;
	}
}



@media (max-width: 320px) 
{  
	#fp-nav.right 
	{
		left: 288px;
	}
}