.item
{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	right: 0;
	left: 0;
	z-index: 10;
}

.work .item
{
	opacity: 0;
}

.ie9 .work .item
{
	opacity: 1;
}

.item.bottom
{
	bottom: 0;
}

.item.top
{
	top: 0;
}

.item div
{
	display: table-cell;
	vertical-align: middle;
}

.item .container
{
	width: 90%;
	max-width: 28em;
	display: inline-block;
}


.item.bottom div
{
	padding-top: 20px;
}

.top p
{
	font-size: 0.6em;
}


.work  .item
{
	animation: animationOut 0.25s cubic-bezier(0.7,0,0.3,1) both;
}


.fp-section.active .work  .item
{
	animation: animation 1s cubic-bezier(0.7,0,0.3,1) both;
	animation-delay: 0.4s;
}




@keyframes animation
{
	from 
	{ 
		opacity: 0; 
		transform: translate3d(0,50px,0); 
	}

	to 
	{ 
		opacity: 1;
	}
}

@keyframes animationOut
{
	from 
	{ 
		opacity: 1;
	}

	to 
	{ 
		opacity: 0;
	}
}

@media (max-height: 640px)  and (max-width: 500px)
{
	.work
	{
		font-size: 0.8em;
	}
}


@media (max-height: 640px) and (max-width: 500px) and (min-width: 400px)
{	
	.work.bg-image
	{
		background-size: 50%;
	}
}


@media (max-height: 600px) and (min-width: 1000px)
{  
	.work.bg-image
	{
		background-size: 25%;
	}
}

@media (max-height: 480px) and (min-width: 1000px)
{  
	.work.bg-image
	{
		background-size: 20%;
	}
}


@media (max-height: 480px) and (max-width: 600px) and (min-width: 400px)
{  
	.work .item.bottom p
	{
		display: none;
	}

	.work.bg-image
	{
		background-size: 50%;
		font-size: 0.7em;
	}

	.work .button 
	{
		border-width: 1px;
		margin-top: -3em;
		font-size: 0.7em;
	}

}

@media (max-height: 480px) and (min-width: 700px) and (max-width: 1000px)
{  
	.work.bg-image
	{
		background-size: 40%;
	}
}

@media (max-height: 430px) and (min-width: 600px) and (max-width: 1000px)
{  
	.work.bg-image
	{
		background-size: 35%;
	}
}

@media (max-height: 400px)
{  
	.work .item.bottom p
	{
		display: none;
	}
}

@media (max-height: 380px) and (max-width: 480px)
{  
	.work.bg-image
	{
		background-size: 60%;
	}
}

@media (max-height: 350px) and (min-width: 700px)
{ 
	.work.bg-image
	{
		background-size: 10%;
	}

	.work .item.top
	{
		padding-top: 15px;
	}
}

@media (max-height: 320px) 
{  
	.fp-section.active .work  .item
	{
		animation: none !important;
	}

	.work .item
	{
		opacity: 1;
	}
}