.item
{
	display: table;
	position: absolute;
	width: 90%;
	height: 100%;
	max-width: 24em;
	margin: 0 auto;
    right: 0;
    left: 0;
	z-index: 10;
}

.item.bottom
{
	bottom: 0;
}

.item.top
{
	top: 0;
}

.item div
{
	display: table-cell;
    vertical-align: middle;
}