.item
{
	display: table;
	position: absolute;
	width: 90%;
	height: 100%;
	max-width: 24em;
	margin: 0 auto;
	right: 0;
	left: 0;
	z-index: 10;
}

.work .item
{
	opacity: 0;
}

.item.bottom
{
	bottom: 0;
}

.item.top
{
	top: 0;
}

.item div
{
	display: table-cell;
	vertical-align: middle;
}


.item.bottom div
{
	padding-top: 20px;
}


.fp-section.active .work  .item
{
	-webkit-animation: animation 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animation 1s cubic-bezier(0.7,0,0.3,1) both;

	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.top p
{
	font-size: 0.6em;
}


@-webkit-keyframes animation
{
	from 
	{ 
		opacity: 0; 
		-webkit-transform: 
			translate3d(0,50px,0); 
	}

	to 
	{ 
		opacity: 1;
	}
}

@media (max-height: 640px) 
{
	.work .button
	{
		border-width:  1px;
		margin-top: 0.9em;
	}
}


@media (max-height: 600px) and (min-width: 1650px)
{  
	.work.bg-image
	{
		background-size: 25%;
	}
}

@media (max-height: 480px) and (min-width: 1650px)
{  
	.work.bg-image
	{
		background-size: 20%;
	}
}


@media (max-height: 480px) and (max-width: 480px)
{  
	.work.bg-image
	{
		background-size: 80%;
	}
}

@media (max-height: 480px) and (min-width: 700px) and (max-width: 1000px)
{  
	.work.bg-image
	{
		background-size: 40%;
	}
}

@media (max-height: 430px) and (min-width: 700px)
{  
	.work.bg-image
	{
		background-size: 25%;
	}
}

@media (max-height: 380px) and (max-width: 480px)
{  
	.work.bg-image
	{
		background-size: 60%;
	}
}

@media (max-height: 350px) and (min-width: 700px)
{ 
	.work.bg-image
	{
		background-size: 18%;
	}

	.work .item.top
	{
		padding-top: 15px;
	}
}

@media (max-height: 320px) 
{  
	.fp-section.active .work  .item
	{
		-webkit-animation: none !important;

		-moz-animation: none !important;

		-o-animation: none !important;

		-ms-animation: none !important;

		animation: none !important;
	}

	.work .item
	{
		opacity: 1;
	}
}