<div id="work">
	<div 
		class="bg-image section" 
		data-ng-repeat="item in work.items" 
		data-repeat-complete
		data-ng-style="{'background-image':'url(img/{{item.img}})', 'background-color':'#{{item.color}}'}">
		<div class="top item" data-resize-work>
			<div>
				<p>Design + Code</p>
				<h2>Green Hill</h2>
			</div>
		</div>

		<div class="bottom item" data-resize-work>
			<div>
				<p>Coop is the second largest grocery retail company in Sweden with over 3 million members. For two years I worked with improving Coop’s website and their online shopping experience.</p>
				<button class="button">More Info</button>
				<button class="button">Visit Site</button>
			</div>
		</div>
	</div>
</div>